<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TFOD Board</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/style.css') }}"
    />
  </head>
  <body>
    <header>
      <div id="site-title">
        <h1>TFOD Board</h1>
        <button
          class="tool-button menu-btn buttons-label"
          data-buttons-label="Menu"
        >
          <img
            src="{{ url_for('static', filename='img/icons/menu.svg') }}"
            alt="menu button"
            class=""
          />
        </button>
      </div>
      <div class="tools">
        <div class="left-wrapper">
          <input
            type="file"
            name=""
            class="image-input"
            id="header-image-input"
            style="display: none"
            accept=".png, .jpeg, .jpg, .webp, .mp4, .mov, .webm, .avi"
            multiple
          />
          <label
            id="image-input-label"
            for="header-image-input"
            class="tool-button disp-n-u-700 buttons-label"
            data-buttons-label="Open image from device"
          >
            <img
              src="{{ url_for('static', filename='img/icons/open.svg') }}"
              alt="open button"
            />
          </label>
          <button
            class="tool-button disp-n-u-700 buttons-label open-url-button"
            data-buttons-label="Open image from url"
          >
            <img
              src="{{ url_for('static', filename='img/icons/link.svg') }}"
              alt="open button"
            />
          </button>
          <input
            type="file"
            name=""
            class="image-input"
            id="header-images-data-load-input"
            style="display: none"
            accept=".json, .tar, .gz"
          />
          <label
            id="images-data-load-label"
            for="header-images-data-load-input"
            class="tool-button disp-n-u-700 buttons-label"
            data-buttons-label="Load images data"
          >
            <img
              src="{{ url_for('static', filename='img/icons/load.svg') }}"
              alt="load button"
            />
          </label>
          <button
            class="tool-button disp-n-u-700 buttons-label run-camera-button"
            data-buttons-label="Run camera"
          >
            <img
              src="{{ url_for('static', filename='img/icons/record.svg') }}"
              alt="open button"
            />
          </button>
          <button
            id="add-label-tool-header"
            class="tool-button disp-n-u-700 buttons-label"
            data-buttons-label="Select an object"
          >
            <img
              src="{{ url_for('static', filename='img/icons/select.svg') }}"
              alt="select button"
            />
          </button>
          <button
            class="tool-button disp-n-u-700 buttons-label show-label-map"
            data-buttons-label="Show label map"
          >
            <img
              src="{{ url_for('static', filename='img/icons/list.svg') }}"
              alt="label map button"
            />
          </button>
          <button
            id="show-data-information"
            class="tool-button disp-n-u-700 buttons-label"
            data-buttons-label="Show data informations"
          >
            <img
              src="{{ url_for('static', filename='img/icons/information.svg') }}"
              alt="Informations button"
            />
          </button>
          <button
            id="delete-duplicated-img-btn"
            class="tool-button disp-n-u-700 buttons-label"
            data-buttons-label="Check duplicate"
          >
            <img
              src="{{ url_for('static', filename='img/icons/duplicate.svg') }}"
              alt="Check duplicate button"
            />
          </button>
          <button
            id="export-btn"
            class="tool-button disp-n-u-700 buttons-label"
            data-buttons-label="Export"
          >
            <img
              src="{{ url_for('static', filename='img/icons/download.svg') }}"
              alt="download button"
            />
          </button>
          <button
            id="model-management-btn"
            class="tool-button disp-n-u-700 buttons-label"
            data-buttons-label="Models management"
          >
            <img
              src="{{ url_for('static', filename='img/icons/brain.svg') }}"
              alt="model management button"
            />
          </button>
          <button id="delete-img-btn" class="tool-button delete-image">
            <img
              src="{{ url_for('static', filename='img/icons/delete.svg') }}"
              alt="zoom out button"
            />
          </button>
          <button class="tool-button rotate-left">
            <img
              src="{{ url_for('static', filename='img/icons/rotate-left.svg') }}"
              alt="zoom out button"
            />
          </button>
          <button class="tool-button rotate-right">
            <img
              src="{{ url_for('static', filename='img/icons/rotate-right.svg') }}"
              alt="zoom out button"
            />
          </button>
          <button class="tool-button download-img">
            <img
              src="{{ url_for('static', filename='img/icons/download.svg') }}"
              alt="download button"
            />
          </button>
          <button class="tool-button tag" data-tag-color="red">
            <div class="tag-color red"></div>
          </button>
          <button class="tool-button tag" data-tag-color="orange">
            <div class="tag-color orange"></div>
          </button>
          <button class="tool-button tag" data-tag-color="yellow">
            <div class="tag-color yellow"></div>
          </button>
          <button class="tool-button tag" data-tag-color="green">
            <div class="tag-color green"></div>
          </button>
          <button class="tool-button tag" data-tag-color="cyan">
            <div class="tag-color cyan"></div>
          </button>
          <button class="tool-button tag" data-tag-color="blue">
            <div class="tag-color blue"></div>
          </button>
          <button class="tool-button tag" data-tag-color="magenta">
            <div class="tag-color magenta"></div>
          </button>
        </div>
        <div class="right-wrapper">
          <button
            id="detect-object-button"
            class="tool-button buttons-label"
            data-buttons-label="Start detection"
          >
            <p>Start detection</p>
            <img
              src="{{ url_for('static', filename='img/icons/search.svg') }}"
              alt="download button"
            />
            <!-- <lottie-player class="disp-n"></lottie-player> -->
          </button>
        </div>
      </div>
    </header>
    <nav>
      <div class="list-wrapper">
        <div class="nav-list labels">
          <div class="nav-list-header labels">
            <div class="nav-labels-list-header-title">
              <h2>Labels</h2>
            </div>
            <button>
              <img
                src="{{ url_for('static', filename='img/icons/eye.svg') }}"
                alt="eye icon"
              />
            </button>
          </div>
          <ul class="nav-labels-list nav-list-body">
            <li class="item no-data">
              <div>
                <p>No label</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="nav-list detected-object">
          <div class="nav-list-header detected-object">
            <div class="nav-detect-obj-list-header-title">
              <h2>Detected objects</h2>
            </div>
            <button id="hide-all-detected-objects-btn" class="enabled">
              <img
                src="{{ url_for('static', filename='img/icons/eye.svg') }}"
                alt="eye icon"
              />
            </button>
          </div>
          <ul class="nav-detected-object-list nav-list-body">
            <li class="item no-data">
              <div>
                <p>No detected object</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="nav-list files">
          <div class="nav-list-header files active">
            <div class="nav-files-list-header-title">
              <div class="files-list-title-wrapper">
                <h2>Files</h2>
                <form>
                  <input type="text" name="" id="" value="0" />
                </form>
                <p>/0</p>
              </div>
            </div>
            <button id="delete-all-files-button">
              <img
                src="{{ url_for('static', filename='img/icons/delete.svg') }}"
                alt="delete button"
              />
            </button>
          </div>
          <ul
            class="nav-files-list nav-list-body active"
            style="display: block"
          >
            <li class="item no-data">
              <div>
                <p>No file</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="site-infos">
        <div>
          <a href="">Documentation</a>
          <a href="">Licence</a>
          <a href="">Terms of use</a>
          <a href="">Privacy policy</a>
        </div>
        <div>
          <p>Developed by</p>
          <a
            class="developer"
            href="https://github.com/garywillcodeit"
            target="_blank"
          >
            <img
              src="{{ url_for('static', filename='img/icons/github.svg') }}"
              alt=""
            />
            <p>garywillcodeit</p>
          </a>
        </div>
      </div>
    </nav>
    <section>
      <div class="media-wrapper">
        <div class="frames-wrapper"></div>
        <div id="found-objects-wrapper"></div>
        <img src="" alt="image" class="image" />
      </div>
      <!-- <div class="overlay"></div> -->
      <div id="drop-element">Drop your image here</div>
      <form id="open-url-form">
        <input type="text" id="open-url-input" placeholder="URL" />
        <input type="submit" value="Open" />
        <div class="close-btn">
          <img
            src="{{ url_for('static', filename='img/icons/close.svg') }}"
            alt=""
          />
        </div>
      </form>
      <div class="floating-menu">
        <button id="floating-action-button">
          <img src="/static/img/icons/add.svg" alt="" />
        </button>
        <div>
          <input
            type="file"
            name=""
            id="floating-image-input"
            style="display: none"
            accept=".png, .jpeg, .jpg, .webp"
            multiple
          />
          <label
            for="floating-image-input"
            class=""
            data-buttons-label="Open image from device"
          >
            <img
              src="{{ url_for('static', filename='img/icons/smartphone.svg') }}"
              alt="open button"
            />
            <p>Load image from device</p>
          </label>
          <button class="open-url-button">
            <img src="/static/img/icons/link.svg" alt="" />
            <p>Load image from url</p>
          </button>
          <button class="run-camera-button">
            <img src="/static/img/icons/record.svg" alt="" />
            <p>Run camera</p>
          </button>
          <button>
            <img src="/static/img/icons/select.svg" alt="" />
            <p>Select an object</p>
          </button>
        </div>
      </div>
      <div id="label-map-list"></div>
      <div id="label-map-popup">
        <h2>Labels map</h2>
        <h3>Label name</h3>
        <ul>
          <li class="no-data">
            <p>No label</p>
          </li>
        </ul>
        <form action="" id="add-label-form">
          <input type="text" name="" id="" />
          <input type="submit" value="Add" />
        </form>
        <button class="close-btn">
          <img src="/static/img/icons/close.svg" alt="" />
        </button>
      </div>
      <div id="export-popup">
        <!-- <form> -->
        <h2>Export options</h2>
        <div class="radios-wrapper">
          <input type="radio" name="module-type" id="tfod-radio" value="tfod" />
          <label id="tfod-radio-label" for="tfod-radio" class="active"
            >TFOD</label
          >
          <input
            type="radio"
            name="module-type"
            id="classifer-radio"
            value="classifer"
          />
          <label id="classifer-radio-label" for="classifer-radio"
            >Classifer</label
          >
        </div>
        <div>
          <p>Choose tags</p>
          <div class="tag-color-choice">
            <input type="checkbox" name="red" id="red-tag-box" />
            <label for="red-tag-box" data-tag-color="red"
              ><span style="background-color: red"></span
            ></label>
            <input type="checkbox" name="orange" id="orange-tag-box" />
            <label for="orange-tag-box" data-tag-color="orange"
              ><span style="background-color: orange"></span
            ></label>
            <input type="checkbox" name="yellow" id="yellow-tag-box" />
            <label for="yellow-tag-box" data-tag-color="yellow"
              ><span style="background-color: yellow"></span
            ></label>
            <input type="checkbox" name="green" id="green-tag-box" />
            <label for="green-tag-box" data-tag-color="green"
              ><span style="background-color: green"></span
            ></label>
            <input type="checkbox" name="cyan" id="cyan-tag-box" />
            <label for="cyan-tag-box" data-tag-color="cyan"
              ><span style="background-color: cyan"></span
            ></label>
            <input type="checkbox" name="blue" id="blue-tag-box" />
            <label for="blue-tag-box" data-tag-color="blue"
              ><span style="background-color: blue"></span
            ></label>
            <input type="checkbox" name="magenta" id="magenta-tag-box" />
            <label for="magenta-tag-box" data-tag-color="magenta"
              ><span style="background-color: magenta"></span
            ></label>
          </div>
        </div>
        <p>Split by label</p>
        <div class="radios-wrapper">
          <input
            type="radio"
            name="split-label"
            id="split-by-label"
            value="yes"
          />
          <label id="split-by-label-label" for="split-by-label" class="active"
            >Yes</label
          >
          <input
            type="radio"
            name="split-label"
            id="no-split-by-label"
            value="no"
          />
          <label id="no-split-by-label-label" for="no-split-by-label">No</label>
        </div>
        <input type="submit" value="Export" />
        <!-- </div> -->
        <button class="close-btn">
          <img src="/static/img/icons/close.svg" alt="" />
        </button>
      </div>
      <!-- <div id="image-quick-actions">
        <button id="delete-img-btn" class="tool-button delete-image">
          <img
            src="{{ url_for('static', filename='img/icons/delete.svg') }}"
            alt="zoom out button"
          />
        </button>
        <button class="tool-button rotate-left">
          <img
            src="{{ url_for('static', filename='img/icons/rotate-left.svg') }}"
            alt="zoom out button"
          />
        </button>
        <button class="tool-button rotate-right">
          <img
            src="{{ url_for('static', filename='img/icons/rotate-right.svg') }}"
            alt="zoom out button"
          />
        </button>
        <button class="tool-button download">
          <img
            src="{{ url_for('static', filename='img/icons/download.svg') }}"
            alt="download button"
          />
        </button>
        <button class="tool-button tag" data-tag-color="red">
          <div class="tag-color red"></div>
        </button>
        <button class="tool-button tag" data-tag-color="orange">
          <div class="tag-color orange"></div>
        </button>
        <button class="tool-button tag" data-tag-color="yellow">
          <div class="tag-color yellow"></div>
        </button>
        <button class="tool-button tag" data-tag-color="green">
          <div class="tag-color green"></div>
        </button>
        <button class="tool-button tag" data-tag-color="cyan">
          <div class="tag-color cyan"></div>
        </button>
        <button class="tool-button tag" data-tag-color="blue">
          <div class="tag-color blue"></div>
        </button>
        <button class="tool-button tag" data-tag-color="magenta">
          <div class="tag-color magenta"></div>
        </button>
      </div> -->
      <div id="video-quick-actions" class="disp-n">
        <button class="tool-button capture">
          <img
            src="{{ url_for('static', filename='img/icons/camera.svg') }}"
            alt="capture button"
          />
        </button>
        <button class="tool-button play">
          <img
            src="{{ url_for('static', filename='img/icons/play.svg') }}"
            alt="play button"
          />
        </button>
        <button class="tool-button pause">
          <img
            src="{{ url_for('static', filename='img/icons/pause.svg') }}"
            alt="pause button"
          />
        </button>
        <button class="tool-button sound-on">
          <img
            src="{{ url_for('static', filename='img/icons/sound-max.svg') }}"
            alt="sound on button"
          />
        </button>
        <button class="tool-button sound-off">
          <img
            src="{{ url_for('static', filename='img/icons/sound-mute.svg') }}"
            alt="sound off button"
          />
        </button>
        <div class="progress-bar-wrapper">
          <div class="progress-bar">
            <div></div>
          </div>
        </div>
      </div>
      <div id="data-informations-popup">
        <h2>Data informations</h2>
        <ul>
          <li>Training image count: 2003</li>
          <li>Testing image count: 99</li>
          <li>Label count: 2</li>
          <li>
            <p>Used labels:</p>
            <p>- Black woman: 2</p>
            <p>- Blonde woman: 342</p>
          </li>
        </ul>
        <button class="close-btn">
          <img src="/static/img/icons/close.svg" alt="" />
        </button>
      </div>
      <div id="model-management-popup">
        <h2>Models</h2>
        <h3>Model name</h3>
        <ul>
          <li class="no-data">
            <p>No model</p>
          </li>
        </ul>
        <div id="add-model-input-wrapper">
          <input
            type="file"
            name=""
            id="add-model-input"
            class="disp-n"
            accept=".tar, .gz, .tar.gz"
          />
          <label for="add-model-input" id="add-model-input-label">
            Add a model
          </label>
        </div>
        <!-- <form action="" id="add-label-form">
          <input type="text" name="" id="" />
          <input type="submit" value="Add" />
        </form> -->
        <button class="close-btn">
          <img src="/static/img/icons/close.svg" alt="" />
        </button>
      </div>
    </section>
    <div id="notifications-bar">
      <h2>Notifications</h2>
      <div id="toast-wrapper"></div>
    </div>
    <div id="button-label"><p></p></div>
    <script src="{{ url_for('static', filename='js/lottie-player.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/file-saver.min.js') }}"></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/script.js') }}"
    ></script>
  </body>
</html>
